th, td {
  border: 10px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: red;
  border-color: #70f170;
  background-color: rebeccapurple;
}

/* selecting an element using it's class name */
.mainTable {

}

/* selecting an element using it's id */
#table {

}

/* selecting the element directly */
table {

}
