/* .parent > div {
  padding: 10px;
  float: left;
}

.parent {
  background: #679ab0;
  color: #fff;
  width: 400px;
  height: 200px;
}

.parent div:first-child {
  background: #e91e63;
  width: 86px;
}

div.parent div:nth-child(2) {
  background: #2a6e63;
  width: 86px;
}

div.parent div:last-child {
  background: #d0e042;
  width: 86px;
} */

p.normal {
  font-weight: normal;
}

h1:first-child {
  text-align: center;
}

.h1 {
  text-indent: 50px;
  color: red;
  font-family: sans-serif;
}

p:empty {

}

input:disabled {
  border: 1px red solid;
}

a {
  text-decoration: none;;
}

a:link {
  color: red;
}

a:visited {
  color: yellow;
}

a:hover {
  /* display: none; */
  background-color: black;
  color: #fff;
  text-decoration: underline;
}

a:active {
  color: blueviolet;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
}


div:hover {
  color: red;
  background: green;
}

tr:nth-child(odd) {
  background-color: gray;
}

tr:nth-child(even) {
  background-color: green;
}

tr:nth-child(odd):hover {
  background-color: blue;
  color: #fff;
}
